NET "clock" LOC = B8 |  IOSTANDARD = LVCMOS33;
NET "clock" TNM_NET = "clkin";
TIMESPEC "TS_clkin" = PERIOD "clkin" 20ns HIGH 50%;
#NET "clock" CLOCK_DEDICATED_ROUTE = FALSE;
NET "reset" LOC = B18 |  IOSTANDARD = LVCMOS33;
NET "reset" TIG;
NET "reset" CLOCK_DEDICATED_ROUTE = FALSE;
#NET "tx" LOC = P9;
NET "tx" LOC = N18 |  IOSTANDARD = LVCMOS33;
#NET "rx" LOC = U6;
NET "rx" LOC = P18 |  IOSTANDARD = LVCMOS33;
NET "LEDS[7]" LOC = J14 |  IOSTANDARD = LVCMOS33;
NET "LEDS[6]" LOC = J15 |  IOSTANDARD = LVCMOS33;
NET "LEDS[5]" LOC = k15 |  IOSTANDARD = LVCMOS33;
NET "LEDS[4]" LOC = k14 |  IOSTANDARD = LVCMOS33;
NET "LEDS[3]" LOC = E17 |  IOSTANDARD = LVCMOS33;
NET "LEDS[2]" LOC = P15 |  IOSTANDARD = LVCMOS33;
NET "LEDS[1]" LOC = F4 |  IOSTANDARD = LVCMOS33;
NET "LEDS[0]" LOC = R4 |  IOSTANDARD = LVCMOS33;

NET "disp" LOC = G18 |  IOSTANDARD = LVCMOS33;
//NET "disp[1]" LOC = H18 |  IOSTANDARD = LVCMOS33;

#Xbee 2 Dout Tx  Red
#Xbee 3 In   Rx  Brown