//! **************************************************************************
// Written by: Map O.87xd on Thu Mar 14 14:55:49 2013
//! **************************************************************************

SCHEMATIC START;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

